html, body {
    margin: 0;
    padding: 0;
    height: 100vh;

}

body {
    width: 100vw;


}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26), 2px 3px 14px rgba(0, 0, 0, 0.144);
}

header > div {
    width: 200px;
}

header > div > img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #197d67;
    font-size: 1rem;
    font-weight: 900;

}


a:hover {
    color: hsl(100, 10%, 50%);

}

#nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


li {
    margin: 1em 0;
}

main {
    padding-top: 170px;
    text-align: center;
}

h1 {
    margin: 2em;
}

input {
    padding: .7em;
    border-radius: 5px;
    margin: 2em;
}

input[type="submit"] {
    background: #50d4b6;
    font-weight: 800;
    border: none;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

input[type="submit"]:hover {
    background: #50d4b6;
    border: none;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.26);
}

#features {
    margin: 2em;
}

i {
    font-size: 2rem;
    color: #50d4b6;
}

.video {
    margin: 2em;
}

#video {
    width: 100%;
    
}

#plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-info {
    width: 100%;
    border: 1px solid #50d4b6;
    margin-bottom: 1em;
}

h3 { 
    margin: 0 0 1em 0;
    padding: 1em;
    background: #50d4b55b;
}

span {
    font-weight: 900;
    font-size: 1.5rem;
}

button {
    width: 150px;
    border: none;
    background: #50d4b6;
    padding: 1em;
    margin-bottom: 1.5em;
    font-weight: 900;
    font-size: 1rem;
}

button:hover {
    background: #50d4b5b7;

}

footer {
    text-align: right;
    padding-right: 1em;
    background: #50d4b6;
}

footer p {
    padding: 1em;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-nav li {
    margin: 1em;
   
}

.footer-nav li a {
    color: black;
}

.footer-nav li a:hover {
    color: hsl(100, 10%, 50%);
}



/* Media */

@media (min-width: 400px) {
    header {
        flex-direction: row;
    }

    header > div {
        width: 200px;
    }

    #nav-bar {
        margin-right: 1em;
    }

    main {
        padding-top: 90px;
    }

    .plan-info {
       width: 80%;
    }
    
}

@media (min-width: 561px) {

    #nav-bar > ul{
        display: flex;
    flex-direction: row;
    }

    #nav-bar > ul > li{
        margin: 1em;
    }

    #video {
        width: 560px;
    }

    #plan {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 3em;
    }

    .plan-info {
        max-width: 200px;
    }
}

@media (min-width: 800px) {
    #features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .feature {
        max-width: 200px;
    }
}